<div class="inicio-bg d-flex align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1 class="display-3 fw-bold mb-3">Bienvenido al<br><span class="text-gradient">Sistema de Gestión de Pacientes</span> 🩺</h1>
    <p class="lead mb-4">Desde aquí puedes registrar nuevos pacientes o consultar sus historiales médicos.</p>

    <div class="d-flex justify-content-center gap-3 flex-wrap">
      <a routerLink="/lista" class="btn btn-outline-light px-4 py-2">Ver lista de pacientes</a>
      <a routerLink="/registro" class="btn btn-light px-4 py-2 text-dark">Registrar paciente</a>
    </div>
  </div>
</div>
