<div class="pantalla-bg text-white">
  <div class="container">
    <h2 class="mb-4 text-center">📅 Agendar Cita Médica</h2>

    <form (ngSubmit)="guardarCita()" #form="ngForm" class="bg-dark p-4 rounded shadow">
      <div class="mb-3">
        <label for="cedula">Cédula del Paciente</label>
        <input type="text" class="form-control" [(ngModel)]="cita.cedula" name="cedula" required />
      </div>

      <div class="mb-3">
        <label for="doctor">Doctor Asignado</label>
        <select class="form-select" [(ngModel)]="cita.doctor" name="doctor" required>
          <option value="" disabled selected>Seleccione un doctor</option>
          <option *ngFor="let doc of listaDoctores" [value]="doc.nombre">{{ doc.nombre }}</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="fecha">Fecha de la cita</label>
        <input type="date" class="form-control" [(ngModel)]="cita.fecha" name="fecha" required />
      </div>

      <div class="mb-3">
        <label for="hora">Hora</label>
        <input type="time" class="form-control" [(ngModel)]="cita.hora" name="hora" required />
      </div>

      <div class="mb-3">
        <label for="motivo">Motivo</label>
        <textarea class="form-control" [(ngModel)]="cita.motivo" name="motivo" required></textarea>
      </div>

      <button class="btn btn-success w-100">Agendar Cita</button>
    </form>
  </div>
</div>