<div class="container mt-4">
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Inicio</a></li>
            <li class="breadcrumb-item"><a routerLink="/lista">Lista de Pacientes</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/historiales', id]">Historiales</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agregar Historial</li>
        </ol>
    </nav>

    <h4>Agregar nuevo historial médico</h4>

    <div class="mb-3">
        <button class="btn btn-outline-secondary" (click)="volver()">← Cancelar / Volver</button>
    </div>

    <form (ngSubmit)="guardar()" class="row g-3">
        <div class="col-md-8">
            <label>Descripción</label>
            <input type="text" class="form-control" [(ngModel)]="nuevoHistorial.descripcion" name="descripcion"
                required>
        </div>
        <div class="col-md-4">
            <label>Fecha</label>
            <input type="date" class="form-control" [(ngModel)]="nuevoHistorial.fecha" name="fecha" required>
        </div>

        <div class="col-12 text-end">
            <button class="btn btn-success">Guardar</button>
        </div>
    </form>
</div>