<a class="btn btn-light mb-3" routerLink="/">
  <i class="fa fa-arrow-left me-1"></i>🔙 Volver 
</a>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5 bg-dark text-white p-4 rounded shadow">
      <h3 class="mb-4 text-center">Iniciar Sesión</h3>
      <form (ngSubmit)="login()">
        <div class="mb-3">
          <label>Usuario</label>
          <input type="text" class="form-control" [(ngModel)]="username" name="username" required />
        </div>
        <div class="mb-3">
          <label>Contraseña</label>
          <input type="password" class="form-control" [(ngModel)]="password" name="password" required />
        </div> 
        <button class="btn btn-primary w-100">Ingresar</button>
        <div class="text-danger mt-3 text-center" *ngIf="errorMessage">{{ errorMessage }}</div>
      </form>
    </div>
  </div>
</div>
