<nav class="navbar">
  <div class="data-container">
    <span class="navbar-brand mb-0 h1">
      <i class="title_g">🩺 Gestión de Pacientes</i> 
    </span>
    <div id="menu-time" class="menu-data animate__animated ">
      <a onclick="closebar()"><i id="close" class="size fa-solid fa-xmark"></i></a>
      <!--<a routerLink="/">Inicio</a>
      <a routerLink="/registro">Registrar</a>
      <a routerLink="/lista">Ver Lista</a> -->
    </div>
    <a id="Menu-bar" onclick="menubar()"><i class="size-icon fa-solid fa-bars"></i></a>
  </div>
</nav>
<main [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>